*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #5CDB95;
    font-family: 'Roboto', sans-serif;
}
h2{
    color: teal;
    text-align: center;
    line-height: 2.9;
    font-size: 25px;
}
.wrapper{
    width: 500px;
    height: 370px;
    background: white;
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form .section1, .section2{
    color: teal;
    font-size: 22px;
    margin-top: 10px;
}
form .section1 input, .section2 input{
    width: 200px;
    border: 1px solid teal;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 7px;
    color: rgba(102, 102, 102, 0.904);
}
form .submit input{
    font-size: 18px;
    color: teal;
    background: white;
    border: 1px solid teal;
    border-radius: 5px;
    padding: 8px 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: all 0.3s;
}
form .submit input:hover{
    background: teal;
    color: white;
}
.pass{
    color: rgb(9, 66, 66);
    font-size: 18px;
}
.one, .two, .three, .four, .five, .six{
    width: 90px;
    height: 170px;
    float: right;
    margin-top: -115px;
    margin-right: -20px;
}